{{ form_start(form, {
	attr: {
		id: 'formPlante'
	}
}) }}

{{ form_row(form.nom)}}
{{ form_row(form.nomLatin) }}
{{ form_row(form.luminosite, {
	label: 'Luminosité'
})}}
{{ form_row(form.arrosage) }}
{{ form_row(form.bouturage) }}
{{ form_row(form.particularites) }}
{{ form_row(form.maladies) }}
{{ form_row(form.notes) }}

{% if affiche == true %}
	{{ form_row(form.userAffiche, {
		label: 'Afficher mon pseudo à côté du nom de la plante'
	}) }}
{% endif %}


{% if app.current_route == 'dashboard_edit_plante' %}
	<div class="row">
		{% for photo in plante.photos %}
			<div class="col text-center">
				<img src="{{ asset('photos/plantes/' ~ photo.fichier) }}" style="width: 300px;">
				<br>
				<a href="{{ path('dashboard_remove_photo', {planteId: plante.id, photoId: photo.id}) }}" onclick="return confirm('Es-tu sûre de vouloir supprimer cette photo ?')" class="btn btn-danger my-2">Supprimer cette photo</a>
			</div>
		{% endfor %}
	</div>

{% endif %}

{% include "partials/_dropzone.html.twig" with {url: oneup_uploader_endpoint('photos'), label:label, id: 'formPlante' } %}

{{ form_end(form) }}
