{% extends 'base.html.twig' %}

{% block title %}Ton dashboard
{% endblock %}

{% block body %}
	<a href="{{ path('dashboard_add_plante') }}" class="btn btn-success">Ajouter une plante</a>
	<table class="table">
		<thead>
			<th>Id</th>
			<th>Nom</th>
			<th>Nom latin</th>
			<th>Nombre</th>
			<th>Photos</th>
			<th>Luminosité</th>
			<th>Arrosage</th>
			<th>Bouturage</th>
			<th>Particularités</th>
			<th>Notes</th>
			<th>Utilisateur</th>
			<th>Actions</th>
		</thead>
		<tbody>
			{% for plante in plantes %}
				<tr>
					<td>
						{{ plante.id }}
					</td>
					<td>
						{{ plante.nom }}
					</td>
					<td>
						{{ plante.nomLatin }}
					</td>
					<td>
						J'en ai
						{{ plante.nombre }}
					</td>
					<td>
						{% for photo in plante.photos %}
							<img style="width: 100px;" src="{{ asset('photos/plantes/' ~ photo.fichier) }}" alt="">
						{% endfor %}
					</td>
					<td>
						{{ plante.luminosite.libelle }}
					</td>
					<td>
						{{ plante.arrosageNb }}
						fois par
						{{ plante.arrosageStr }}
					</td>
					<td>
						{{ plante.bouturage }}
					</td>
					<td>
						{% for particularite in plante.particularites %}
							{{ particularite }}
						{% endfor %}
					</td>
					<td>
						{{ plante.notes }}
					</td>
					<td>
						{{ plante.user.pseudo }}
					</td>
					<td>
						<a href="{{ path('dashboard_edit_plante', {id: plante.id}) }}">✏</a>
						<a href="{{ path('dashboard_remove_plante', {id: plante.id}) }}" onclick="return confirm('Es-tu sûre de vouloir supprimer cette plante ?')">❌</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
